/* Ensures fixed, deterministic dimensions across operating systems to prevent calculation rounding errors in CI tests */
.list > div {
	box-sizing: border-box;
	height: 54px;
	border-style: solid;
	border-width: 2px;
	text-align: center;
	line-height: 46px;
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
}

.half {
	display: inline-block;
	width: 49%;
	padding: 0;
	margin: 0;
	vertical-align: top;
}
